{% extends 'base.html' %}
{% block title %}About us{% endblock title %}

{% block body %}


<div class="p-5 p-md-3 mb-4 text-white rounded bg-dark my-4 mx-5">
    <div class="col-md-8 px-0">
      <h1 class="display-4 fst-italic">About us</h1>
    </div>
  </div>

<hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading mx-5"><span class="text-muted">"The perfect place to enjoy life and food "</span></h2>
        <p class="lead mx-5">Le café vintage has been totally involved in the business of coffee from growing, processing, manufacturing, transporting, distributing and selling the products to the consumer. In tune with the global and domestic Market demands.
Le café vintage is very flexible that it provides a wide range of products that cater to the taste of every individual market and consumer to enrich the lives of our consumer and allow them to make environment and socially conscious choice.
The company is constantly upgrading its production facilities and capacities. By constantly adding new ranges to its already burgeoned portfolio, Le café vintage is poised to become a major player in the global coffee market. From manually operated machines in the early days the company has graduated to high – tech machinery in its pursuit for excellence.</p>
      </div>
      <div class="col-md-3">
        <img src="https://images.unsplash.com/photo-1621302631614-71077f1535c1?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=500&ixid=MnwxfDB8MXxyYW5kb218fHx8fHx8fHwxNjIxNTgxNjc5&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=500" alt="Flowers in Chania">
      </div>
    </div>


    <hr class="featurette-divider">

<div class="container marketing">

<div class="p-4 text-white rounded bg-dark">
    <div class="col-md-7 ">
      <h1 class="display-8 fst-italic">Meet Our Spys</h1>
    </div>
  </div>

    <!-- Three columns of text below the carousel -->
    <div class="row mx-4 my-4 mx-4">
      <div class="col-lg-4">

        <a href = "https://www.coingecko.com/en/coins/dogecoin/usd" target="_blank">
          <img src = "https://cdn.discordapp.com/attachments/898604662868037712/906789555645071390/dogecoin.png" class="img-responsive" style="border-radius: 50%" class = width="300" height="240" "img-circle"  >
        </a>
        <h2 > Doge </h2>
        <p></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <a href = "https://www.coingecko.com/en/coins/shiba-inu" target="_blank">
          <img src = "https://cdn.discordapp.com/attachments/898604662868037712/906789404683685928/shibainu.png" style="border-radius: 50%" class = width="400" height="240" "img-circle"  >
        </a>
        <h2 > Shiba Inu</h2>
       <p></p>
      </div><!-- /.col-lg-4 -->
      <br>
      <div class="col-lg-4">
        <a href = "https://www.reddit.com/r/wallstreetbets/" target="_blank">
          <img src = "https://cdn.discordapp.com/attachments/898604662868037712/906790038711468082/wsb.png" style="border-radius: 50%" class = width="300" height="240" "img-circle"  >
        </a>
        <h2 > Wall Street Bets</h2>
        <p></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

    <section class="gamut-188uqal-Box ebnwbv90 my-5"><div class="gamut-rp6r2-ContentContainer e1dgn4f70"><div class="gamut-k3wh10-FlexBox e1tc6bzh0"><div class="gamut-tdv9ru-Box ebnwbv90"><h2 class="Heading-module--heading--2X5Zo styles-module--heading--2691L Heading-module--fontSize_lg__xs--3T15D  text-center">Our Office</h2><div class="index-module--spacing-tight--2Gp7G styles-module--description--1c1Ks"><p class="index-module--p--1qg33 text-center">Wall Street</p>
<p class="index-module--p--1qg33 text-center">New York, USA</p>
</div></div></div></div></section>

{% endblock body %}