{% extends 'base.html' %}
{% block title %}chocolates And Milkshakes{% endblock title %}

{% block body %}

<div class="p-5 p-md-3 mb-4 text-white rounded bg-dark my-4 mx-0">
    <div class="col-md-8 px-0">
      <h1 class="display-4 fst-italic">Chocolates And Milkshakes</h1>
    </div>
  </div>

<div class="album py-5 bg-light">
    <div class="container">

    
       <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://cdn.pixabay.com/photo/2015/11/23/11/57/hot-chocolate-1058197_1280.jpg" class="d-block w-100" alt="...">
            <div class="card-body">
              <p class="card-text text-center"><i><b>Hot Chocolate</b></i></p>
              <p>Made by using imported chocolates from Belgium and \Holstein-Friesian cow milk.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                 <a href="https://youtu.be/rTgj1HxmUbg" class="btn btn-sm btn-outline-secondary" role="button" aria-pressed="true">Buy now</a>
                <a href="https://youtu.be/rTgj1HxmUbg" class="btn btn-sm btn-outline-secondary" role="button" aria-pressed="true">Add to Cart</a>
                
                </div>
                <small class="text-muted"> ₹ 1000</small>
              </div>
            </div>
          </div>
        </div>


        <div class="col">
          <div class="card shadow-sm">
          <img src="https://cdn.pixabay.com/photo/2013/09/16/16/50/praline-182861_1280.jpg" class="d-block w-100" alt="...">
            <div class="card-body">
              <p class="card-text text-center"><i><b>Praline Chocolates</i></b></p>
              <p>Made by using imported Australian's chocolates and Praline filling inside.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="https://youtu.be/rTgj1HxmUbg" class="btn btn-sm btn-outline-secondary" role="button" aria-pressed="true">Buy now</a>
                <a href="https://youtu.be/rTgj1HxmUbg" class="btn btn-sm btn-outline-secondary" role="button" aria-pressed="true">Add to Cart</a>
                
                </div>
                <small class="text-muted"> ₹1050</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
           <img src="https://cdn.pixabay.com/photo/2020/09/18/21/14/dessert-5582984_1280.jpg" class="d-block w-100" alt="...">
            <div class="card-body">
              <p class="card-text text-center"><b><i>Chocolaty Cups</i></b><p>
              <p>Made by using Natural milk chocolates and Belgium chocolates with cheese and red velvet filling inside.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="https://youtu.be/rTgj1HxmUbg" class="btn btn-sm btn-outline-secondary" role="button" aria-pressed="true">Buy now</a>
                <a href="https://youtu.be/rTgj1HxmUbg" class="btn btn-sm btn-outline-secondary" role="button" aria-pressed="true">Add to Cart</a>
                
                </div>
                <small class="text-muted"> ₹ 200</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
           <img src="https://cdn.pixabay.com/photo/2020/07/04/01/01/smoothies-5367939_1280.png" class="d-block w-100" alt="...">
            <div class="card-body">
              <p class="card-text text-center"><b><i>Berrilicious Milkshake</i></b></p>
              <p>Made by using Cranberries, Blueberries, Blackberries, Strawberries, Huckleberries and Raspberries.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                 <a href="https://youtu.be/rTgj1HxmUbg" class="btn btn-sm btn-outline-secondary" role="button" aria-pressed="true">Buy now</a>
                <a href="https://youtu.be/rTgj1HxmUbg" class="btn btn-sm btn-outline-secondary" role="button" aria-pressed="true">Add to Cart</a>
                
                </div>
                <small class="text-muted"> ₹ 550</small>
              </div>
            </div>
          </div>
        </div>

       <div class="col">
          <div class="card shadow-sm">
           <img src="https://cdn.pixabay.com/photo/2017/07/25/17/25/smoothie-2538950_1280.jpg" class="d-block w-100" alt="...">
            <div class="card-body">
              <p class="card-text text-center"><b><i>Apple, Banana and Kiwi Milkshake</i></b></p>
              <p>Made by using Idared Apples, Cavendish Bananas and Hayward Kiwis.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="https://youtu.be/rTgj1HxmUbg" class="btn btn-sm btn-outline-secondary" role="button" aria-pressed="true">Buy now</a>
                <a href="https://youtu.be/rTgj1HxmUbg" class="btn btn-sm btn-outline-secondary" role="button" aria-pressed="true">Add to Cart</a>
                
                </div>
                <small class="text-muted"> ₹ 450</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
          <img src="https://cdn.pixabay.com/photo/2016/02/11/20/42/mohr-heads-1194489_1280.jpg" class="d-block w-100" alt="mohr heads">
        <div class="card-body">
              <p class="card-text text-center"><b><i>Mohr Heads</i></b></p>
              <p>Made by using chocolates imported from Belgium and Australia.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="https://youtu.be/rTgj1HxmUbg" class="btn btn-sm btn-outline-secondary" role="button" aria-pressed="true">Buy now</a>
                <a href="https://youtu.be/rTgj1HxmUbg" class="btn btn-sm btn-outline-secondary" role="button" aria-pressed="true">Add to Cart</a>
                
                </div>
                <small class="text-muted"> ₹ 200</small>
              </div>
            </div>
          </div>
        </div>

         <div class="col my-4">
          <div class="card shadow-sm">
           <img src="https://cdn.pixabay.com/photo/2015/03/12/14/59/choco-bananas-670339_1280.jpg" class="d-block w-100" alt="cheese chocolate pastry">
            <div class="card-body">
              <p class="card-text text-center"><b><i>Choco Bananas</i></b></p>
              <p>Made by using Belgium Chocolate and Cavendish Bananas.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                 <a href="https://youtu.be/rTgj1HxmUbg" class="btn btn-sm btn-outline-secondary" role="button" aria-pressed="true">Buy now</a>
                <a href="https://youtu.be/rTgj1HxmUbg" class="btn btn-sm btn-outline-secondary" role="button" aria-pressed="true">Add to Cart</a>
                
                </div>
                <small class="text-muted"> ₹ 1000</small>
              </div>
            </div>
          </div>
        </div>

 <div class="col my-4">
          <div class="card shadow-sm">
           <img src="https://cdn.pixabay.com/photo/2018/01/12/16/31/nougat-3078581_1280.jpg" class="d-block w-100" alt="coffee and berries ice cream">
            <div class="card-body">
              <p class="card-text text-center"><b><i>Nougat 'n' Raspberries Mousse</i></b></p>
              <p>Made by using Artisan Torrone Nougat and organic Raspberries imported from the US.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="https://youtu.be/rTgj1HxmUbg" class="btn btn-sm btn-outline-secondary" role="button" aria-pressed="true">Buy now</a>
                <a href="https://youtu.be/rTgj1HxmUbg" class="btn btn-sm btn-outline-secondary" role="button" aria-pressed="true">Add to Cart</a>
                
                </div>
                <small class="text-muted"> ₹ 500</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col my-4">
          <div class="card shadow-sm">
           <img src="https://cdn.pixabay.com/photo/2020/07/18/11/20/chia-5416921_1280.jpg" class="d-block w-100" alt="waffles jam berries">
            <div class="card-body">
              <p class="card-text text-center"><b><i>Chia, Chocolate and Oatmeal shake</i></b></p>
              <p>Made by using organic Chia seeds imported from Paraguay.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                 <a href="https://youtu.be/rTgj1HxmUbg" class="btn btn-sm btn-outline-secondary" role="button" aria-pressed="true">Buy now</a>
                <a href="https://youtu.be/rTgj1HxmUbg" class="btn btn-sm btn-outline-secondary" role="button" aria-pressed="true">Add to Cart</a>
                
                </div>
                <small class="text-muted"> ₹ 500</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock body %}