{% extends 'base.html' %}
{% block title %}Coffee{% endblock title %}

{% block body %}


<div class="p-5 p-md-3 mb-4 text-white rounded bg-dark my-4 mx-0">
    <div class="col-md-8 px-0">
      <h1 class="display-4 fst-italic">Coffee</h1>
    </div>
  </div>

<div class="album py-5 bg-light">
    <div class="container">

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://cdn.pixabay.com/photo/2017/11/11/20/16/food-2940312_1280.jpg" class="d-block w-100" alt="...">
            <div class="card-body">
              <p class="card-text text-center"><i><b>Dutch Coffee</b></i></p>
              <p>Tastes like the original Dutch Coffee. Made by using Ethiopian Coffee Beans</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="https://youtu.be/rTgj1HxmUbg" class="btn btn-sm btn-outline-secondary" role="button" aria-pressed="true">Buy now</a>
                <a href="https://youtu.be/rTgj1HxmUbg" class="btn btn-sm btn-outline-secondary" role="button" aria-pressed="true">Add to Cart</a>
                
                </div>
                <small class="text-muted"> ₹ 1000</small>
              </div>
            </div>
          </div>
        </div>


        <div class="col">
          <div class="card shadow-sm">
          <img src="https://cdn.pixabay.com/photo/2017/06/13/00/28/coffee-2397280_1280.jpg" class="d-block w-100" alt="...">
            <div class="card-body">
              <p class="card-text text-center"><i><b>Banana 'n' Coconut Dalgona Coffee</b></i></p>
              <p>Made by using Cavendish Bananas and Malayan Yellow Dwarf Coconut.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="https://youtu.be/rTgj1HxmUbg" class="btn btn-sm btn-outline-secondary" role="button" aria-pressed="true">Buy now</a>
                <a href="https://youtu.be/rTgj1HxmUbg" class="btn btn-sm btn-outline-secondary" role="button" aria-pressed="true">Add to Cart</a>
                
                </div>
                <small class="text-muted"> ₹1050</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
           <img src="https://cdn.pixabay.com/photo/2020/05/15/16/53/coffee-5174330_1280.jpg" class="d-block w-100" alt="...">
            <div class="card-body">
              <p class="card-text text-center"><b><i>Honey Dalgona Coffee</i></b><p>
              <p>Made by using Natural Beech Honeydew Honey and Ethiopian Coffee Beans</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="https://youtu.be/rTgj1HxmUbg" class="btn btn-sm btn-outline-secondary" role="button" aria-pressed="true">Buy now</a>
                <a href="https://youtu.be/rTgj1HxmUbg" class="btn btn-sm btn-outline-secondary" role="button" aria-pressed="true">Add to Cart</a>
                
                </div>
                <small class="text-muted"> ₹ 200</small>
              </div>
            </div>
          </div>
        </div>


       

        <div class="col">
          <div class="card shadow-sm">
          <img src="https://cdn.pixabay.com/photo/2014/07/04/19/24/coffee-384189_1280.jpg" class="d-block w-100" alt="mohr heads">
        <div class="card-body">
              <p class="card-text text-center"><b><i>Sugar Free Banana Cappuccino</i></b></p>
              <p> Sugar Free Cappuccino made by using Ethiopian Coffee Beans and Cavendish Bananas.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="https://youtu.be/rTgj1HxmUbg" class="btn btn-sm btn-outline-secondary" role="button" aria-pressed="true">Buy now</a>
                <a href="https://youtu.be/rTgj1HxmUbg" class="btn btn-sm btn-outline-secondary" role="button" aria-pressed="true">Add to Cart</a>
                
                </div>
                <small class="text-muted"> ₹ 200</small>
              </div>
            </div>
          </div>
        </div>

         <div class="col">
          <div class="card shadow-sm">
           <img src="https://cdn.pixabay.com/photo/2016/12/12/09/27/flower-1901074_1280.jpg" class="d-block w-100" alt="cheese chocolate pastry">
            <div class="card-body">
              <p class="card-text text-center"><b><i>Michiaato</i></b></p>
              <p>Tastes like the original Michiaato. Made by using Ethiopian Coffee Beans</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="https://youtu.be/rTgj1HxmUbg" class="btn btn-sm btn-outline-secondary" role="button" aria-pressed="true">Buy now</a>
                <a href="https://youtu.be/rTgj1HxmUbg" class="btn btn-sm btn-outline-secondary" role="button" aria-pressed="true">Add to Cart</a>
                
                </div>
                <small class="text-muted"> ₹ 1000</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col my-4">
          <div class="card shadow-sm">
           <img src="https://cdn.pixabay.com/photo/2015/10/12/14/54/coffee-983955_1280.jpg" class="d-block w-100" alt="...">
            <div class="card-body">
              <p class="card-text text-center"><b><i>Milk Coffee</i></b><p>
              <p>Made by using Holstein-Friesian cow breed milk.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="https://youtu.be/rTgj1HxmUbg" class="btn btn-sm btn-outline-secondary" role="button" aria-pressed="true">Buy now</a>
                <a href="https://youtu.be/rTgj1HxmUbg" class="btn btn-sm btn-outline-secondary" role="button" aria-pressed="true">Add to Cart</a>
                
                </div>
                <small class="text-muted"> ₹ 200</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col my-4">
          <div class="card shadow-sm">
           <img src="https://cdn.pixabay.com/photo/2018/09/11/10/59/latte-macchiato-3669136_1280.jpg" class="d-block w-100" alt="...">
            <div class="card-body">
              <p class="card-text text-center"><b><i>Latte Macchiato</i></b><p>
              <p>Made by using Holstein-Friesian cow breed milk and Ethiopian Coffee Beans.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="https://youtu.be/rTgj1HxmUbg" class="btn btn-sm btn-outline-secondary" role="button" aria-pressed="true">Buy now</a>
                <a href="https://youtu.be/rTgj1HxmUbg" class="btn btn-sm btn-outline-secondary" role="button" aria-pressed="true">Add to Cart</a>
                
                </div>
                <small class="text-muted"> ₹ 200</small>
              </div>
            </div>
          </div>
        </div>
        
        <div class="col my-4">
          <div class="card shadow-sm">
           <img src="https://cdn.pixabay.com/photo/2016/11/29/02/10/caffeine-1866758_1280.jpg" class="d-block w-100" alt="waffles jam berries">
            <div class="card-body">
              <p class="card-text text-center"><b><i>Frappe</i></b></p>
              <p>Made by using Coffee Beans imported from Ethiopia. Tastes like Italian Frappe</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="https://youtu.be/rTgj1HxmUbg" class="btn btn-sm btn-outline-secondary" role="button" aria-pressed="true">Buy now</a>
                <a href="https://youtu.be/rTgj1HxmUbg" class="btn btn-sm btn-outline-secondary" role="button" aria-pressed="true">Add to Cart</a>
                
                </div>
                <small class="text-muted"> ₹ 500</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    

    

{% endblock body %}