
{% extends 'base.html' %}
{% block title %}Ice Creams{% endblock title %}

{% block body %}


<div class="p-5 p-md-3 mb-4 text-white rounded bg-dark my-4 mx-0">
    <div class="col-md-8 px-0">
      <h1 class="display-4 fst-italic">Ice Creams</h1>
    </div>
  </div>

<div class="album py-5 bg-light">
    <div class="container">

    
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://cdn.pixabay.com/photo/2016/12/26/16/09/bowl-1932375_1280.jpg" class="d-block w-100" alt="...">
            <div class="card-body">
              <p class="card-text text-center"><i><b>Frutilicious</b></i></p>
              <p>Made by using Cranberries, Apples, Bnanas, Blueberries, Kiwi, Mango, Avacado and Chikoo.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                <a href="https://youtu.be/rTgj1HxmUbg" class="btn btn-sm btn-outline-secondary" role="button" aria-pressed="true">Buy now</a>
                <a href="https://youtu.be/rTgj1HxmUbg" class="btn btn-sm btn-outline-secondary" role="button" aria-pressed="true">Add to Cart</a>
                </div>
                <small class="text-muted"> ₿ 1000</small>
              </div>
            </div>
          </div>
        </div>


        <div class="col">
          <div class="card shadow-sm">
          <img src="https://cdn.pixabay.com/photo/2020/05/24/19/49/currant-popsicles-5215884_1280.jpg" class="d-block w-100" alt="...">
            <div class="card-body">
              <p class="card-text text-center"><i><b>Red Currant And Banana Popsicles</b></i></p>
              <p>Made by using Viksne Red Currant and Cavendish Bananas.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="https://youtu.be/rTgj1HxmUbg" class="btn btn-sm btn-outline-secondary" role="button" aria-pressed="true">Buy now</a>
                <a href="https://youtu.be/rTgj1HxmUbg" class="btn btn-sm btn-outline-secondary" role="button" aria-pressed="true">Add to Cart</a>
                
                </div>
                <small class="text-muted"> ₿1050</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
           <img src="https://cdn.pixabay.com/photo/2016/08/26/16/56/banana-split-1622656_1280.jpg" class="d-block w-100" alt="...">
            <div class="card-body">
              <p class="card-text text-center"><b><i>Choco Nougat Ice Cream</i></b><p>
              <p>Made by using Australian Chocolate and  Artisan Torrone </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="https://youtu.be/rTgj1HxmUbg" class="btn btn-sm btn-outline-secondary" role="button" aria-pressed="true">Buy now</a>
                <a href="https://youtu.be/rTgj1HxmUbg" class="btn btn-sm btn-outline-secondary" role="button" aria-pressed="true">Add to Cart</a>
                
                </div>
                <small class="text-muted"> ₿ 200</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
           <img src="https://cdn.pixabay.com/photo/2021/05/18/12/55/ice-cream-6263361_1280.jpg" class="d-block w-100" alt="...">
            <div class="card-body">
              <p class="card-text text-center"><b><i>Oreo and Blackberry Ice Creams</i></b></p>
              <p>Made by using Oreo Biscuits and imported Blackberry from the US. </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="https://youtu.be/rTgj1HxmUbg" class="btn btn-sm btn-outline-secondary" role="button" aria-pressed="true">Buy now</a>
                <a href="https://youtu.be/rTgj1HxmUbg" class="btn btn-sm btn-outline-secondary" role="button" aria-pressed="true">Add to Cart</a>
                
                </div>
                <small class="text-muted"> ₿ 550</small>
              </div>
            </div>
          </div>
        </div>

       <div class="col">
          <div class="card shadow-sm">
           <img src="https://cdn.pixabay.com/photo/2015/09/09/20/06/bowl-932980_1280.jpg" class="d-block w-100" alt="...">
            <div class="card-body">
              <p class="card-text text-center"><b><i>Coconut Blueberry Ice Cream </i></b></p>
              <p>Made by using Malayan Yellow Dwarf Coconut and Blackberry imported from the US.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="https://youtu.be/rTgj1HxmUbg" class="btn btn-sm btn-outline-secondary" role="button" aria-pressed="true">Buy now</a>
                <a href="https://youtu.be/rTgj1HxmUbg" class="btn btn-sm btn-outline-secondary" role="button" aria-pressed="true">Add to Cart</a>
                
                </div>
                <small class="text-muted"> ₿ 450</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
          <img src="https://cdn.pixabay.com/photo/2015/06/21/15/30/strawberries-816698_1280.jpg" class="d-block w-100" alt="mohr heads">
        <div class="card-body">
              <p class="card-text text-center"><b><i>Strawberrry Ice Cream</i></b></p>
              <p>Made by using Albino Strawberry imported from Japan.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="https://youtu.be/rTgj1HxmUbg" class="btn btn-sm btn-outline-secondary" role="button" aria-pressed="true">Buy now</a>
                <a href="https://youtu.be/rTgj1HxmUbg" class="btn btn-sm btn-outline-secondary" role="button" aria-pressed="true">Add to Cart</a>
                
                </div>
                <small class="text-muted"> ₿ 200</small>
              </div>
            </div>
          </div>
        </div>

         <div class="col my-4">
          <div class="card shadow-sm">
           <img src="https://cdn.pixabay.com/photo/2016/07/26/19/42/ice-cream-sundae-1543632_1280.jpg" class="d-block w-100" alt="cheese chocolate pastry">
            <div class="card-body">
              <p class="card-text text-center"><b><i>Nougat and Coconut Ice cream</i></b></p>
              <p>Made by using Artisan Torrone Nougat and Malayan Yellow Dwarf Coconut.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="https://youtu.be/rTgj1HxmUbg" class="btn btn-sm btn-outline-secondary" role="button" aria-pressed="true">Buy now</a>
                <a href="https://youtu.be/rTgj1HxmUbg" class="btn btn-sm btn-outline-secondary" role="button" aria-pressed="true">Add to Cart</a>
                
                </div>
                <small class="text-muted"> ₿ 1000</small>
              </div>
            </div>
          </div>
        </div>

 <div class="col my-4">
          <div class="card shadow-sm">
           <img src="https://cdn.pixabay.com/photo/2016/10/31/18/14/dessert-1786311_960_720.jpg" class="d-block w-100" alt="coffee and berries ice cream">
            <div class="card-body">
              <p class="card-text text-center"><b><i>Coffee 'n' Berries Ice Cream</i></b></p>
              <p>Made by using organic Raspberries and Cranberries imported from the US.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="https://youtu.be/rTgj1HxmUbg" class="btn btn-sm btn-outline-secondary" role="button" aria-pressed="true">Buy now</a>
                <a href="https://youtu.be/rTgj1HxmUbg" class="btn btn-sm btn-outline-secondary" role="button" aria-pressed="true">Add to Cart</a>
                
                </div>
                <small class="text-muted"> ₿ 500</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col my-4">
          <div class="card shadow-sm">
           <img src="https://cdn.pixabay.com/photo/2015/06/02/22/09/ice-795603_1280.jpg" class="d-block w-100" alt="waffles jam berries">
            <div class="card-body">
              <p class="card-text text-center"><b><i>Berries and Orange Ice Cream</i></b></p>
              <p>Made By using Cranberries, Blackberries, Blueberries and Satsuma Mandarin Oranges.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="https://youtu.be/rTgj1HxmUbg" class="btn btn-sm btn-outline-secondary" role="button" aria-pressed="true">Buy now</a>
                <a href="https://youtu.be/rTgj1HxmUbg" class="btn btn-sm btn-outline-secondary" role="button" aria-pressed="true">Add to Cart</a>
                
                </div>
                <small class="text-muted"> ₿ 500</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock body %}