{% extends 'base.html' %}
{% block title %}Pastries And Waffles{% endblock title %}

{% block body %}


<div class="p-5 p-md-3 mb-4 text-white rounded bg-dark my-4 mx-0">
    <div class="col-md-8 px-0">
      <h1 class="display-4 fst-italic">Pastries And Waffles</h1>
    </div>
  </div>

<div class="album py-5 bg-light">
    <div class="container">

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://images.unsplash.com/photo-1619540158579-1b4fd3529849?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=739&ixid=MnwxfDB8MXxyYW5kb218fHx8fHx8fHwxNjIxNDQ2NTU3&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1025" class="d-block w-100" alt="...">
            <div class="card-body">
              <p class="card-text text-center"><i><b>Neopolitan Brioche</b></i></p>
              <p>Made by using imported ingredients from Japan.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="https://youtu.be/rTgj1HxmUbg" class="btn btn-sm btn-outline-secondary" role="button" aria-pressed="true">Buy now</a>
                <a href="https://youtu.be/rTgj1HxmUbg" class="btn btn-sm btn-outline-secondary" role="button" aria-pressed="true">Add to Cart</a>
                
                </div>
                <small class="text-muted"> ₿ 1000</small>
              </div>
            </div>
          </div>
        </div>


        <div class="col">
          <div class="card shadow-sm">
          <img src="https://images.unsplash.com/photo-1507306788627-e0850edeaa8b?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=732&ixid=MnwxfDB8MXxyYW5kb218fHx8fHx8fHwxNjIxNDQ3Nzcx&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1100" class="d-block w-100" alt="...">
            <div class="card-body">
              <p class="card-text text-center"><i><b>Caramel-Pecan Apple Pie</b></i></p>
              <p>Tastes like grandma's apple pie. Made by using 100% organic brown sugar and Idared Apples.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="https://youtu.be/rTgj1HxmUbg" class="btn btn-sm btn-outline-secondary" role="button" aria-pressed="true">Buy now</a>
                <a href="https://youtu.be/rTgj1HxmUbg" class="btn btn-sm btn-outline-secondary" role="button" aria-pressed="true">Add to Cart</a>
                
                </div>
                <small class="text-muted"> ₿1050</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
           <img src="https://cdn.pixabay.com/photo/2017/06/17/16/20/waffles-2412628_1280.jpg" class="d-block w-100" alt="...">
            <div class="card-body">
              <p class="card-text text-center"><b><i>Ice Cream Waffle</i></b><p>
              <p>Made by using organic Vanilla Ice cream.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="https://youtu.be/rTgj1HxmUbg" class="btn btn-sm btn-outline-secondary" role="button" aria-pressed="true">Buy now</a>
                <a href="https://youtu.be/rTgj1HxmUbg" class="btn btn-sm btn-outline-secondary" role="button" aria-pressed="true">Add to Cart</a>
                
                </div>
                <small class="text-muted"> ₿ 200</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
           <img src="https://cdn.pixabay.com/photo/2019/01/21/15/06/blueberries-3946230_1280.jpg" class="d-block w-100" alt="...">
            <div class="card-body">
              <p class="card-text text-center"><b><i>Blueberry Ice Cream Cake</i></b></p>
              <p>Tastes like the Natural Blueberry Ice Cream And Organic Blueberries imported from the US.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="https://youtu.be/rTgj1HxmUbg" class="btn btn-sm btn-outline-secondary" role="button" aria-pressed="true">Buy now</a>
                <a href="https://youtu.be/rTgj1HxmUbg" class="btn btn-sm btn-outline-secondary" role="button" aria-pressed="true">Add to Cart</a>
                
                </div>
                <small class="text-muted"> ₿ 550</small>
              </div>
            </div>
          </div>
        </div>

       <div class="col">
          <div class="card shadow-sm">
           <img src="https://cdn.pixabay.com/photo/2017/08/07/02/08/cheesecake-2598695_1280.jpg" class="d-block w-100" alt="...">
            <div class="card-body">
              <p class="card-text text-center"><b><i>Raspberry Cheese Cake</i></b></p>
              <p>Made by using organic Raspberries imported from the US and Asiago Cheese.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="https://youtu.be/rTgj1HxmUbg" class="btn btn-sm btn-outline-secondary" role="button" aria-pressed="true">Buy now</a>
                <a href="https://youtu.be/rTgj1HxmUbg" class="btn btn-sm btn-outline-secondary" role="button" aria-pressed="true">Add to Cart</a>
                
                </div>
                <small class="text-muted"> ₿ 450</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
          <img src="https://cdn.pixabay.com/photo/2015/02/20/16/12/donuts-643277_1280.jpg" class="d-block w-100" alt="mohr heads">
        <div class="card-body">
              <p class="card-text text-center"><b><i>Choclaty Dougnut Pastry.</i></b></p>
              <p>Refined flour free Chcolaty Dougnut Pastry made by using Belgium Chocolate and wheat flour. </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="https://youtu.be/rTgj1HxmUbg" class="btn btn-sm btn-outline-secondary" role="button" aria-pressed="true">Buy now</a>
                <a href="https://youtu.be/rTgj1HxmUbg" class="btn btn-sm btn-outline-secondary" role="button" aria-pressed="true">Add to Cart</a>
                
                </div>
                <small class="text-muted"> ₿ 200</small>
              </div>
            </div>
          </div>
        </div>

         <div class="col">
          <div class="card shadow-sm">
           <img src="https://cdn.pixabay.com/photo/2017/01/11/11/33/cake-1971552_1280.jpg" class="d-block w-100" alt="cheese chocolate pastry">
            <div class="card-body">
              <p class="card-text text-center"><b><i>Cheese Chocolate Pastry</i></b></p>
              <p>Made by using the famous Asiago Cheese and Swiss chocolates.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="https://youtu.be/rTgj1HxmUbg" class="btn btn-sm btn-outline-secondary" role="button" aria-pressed="true">Buy now</a>
                <a href="https://youtu.be/rTgj1HxmUbg" class="btn btn-sm btn-outline-secondary" role="button" aria-pressed="true">Add to Cart</a>
                
                </div>
                <small class="text-muted"> ₿ 1000</small>
              </div>
            </div>
          </div>
        </div>

 <div class="col my-4">
          <div class="card shadow-sm">
           <img src="https://cdn.pixabay.com/photo/2016/10/27/22/12/cake-1776661_1280.jpg" class="d-block w-100" alt="coffee and berries ice cream">
            <div class="card-body">
              <p class="card-text text-center"><b><i>Strawberry Pancake Pastry</i></b></p>
              <p>Made by using Natural Albino Strawberries imported from Japan and Wheat Flour.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="https://youtu.be/rTgj1HxmUbg" class="btn btn-sm btn-outline-secondary" role="button" aria-pressed="true">Buy now</a>
                <a href="https://youtu.be/rTgj1HxmUbg" class="btn btn-sm btn-outline-secondary" role="button" aria-pressed="true">Add to Cart</a>
                
                </div>
                <small class="text-muted"> ₿ 500</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
           <img src="https://cdn.pixabay.com/photo/2020/09/25/15/19/waffles-5601672_1280.jpg" class="d-block w-100" alt="waffles jam berries">
            <div class="card-body">
              <p class="card-text text-center"><b><i>Waffles Jam Berries</i></b></p>
              <p>This is going to be your next favourite food. Made by using jams imported from Denmark.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="https://youtu.be/rTgj1HxmUbg" class="btn btn-sm btn-outline-secondary" role="button" aria-pressed="true">Buy now</a>
                <a href="https://youtu.be/rTgj1HxmUbg" class="btn btn-sm btn-outline-secondary" role="button" aria-pressed="true">Add to Cart</a>
                
                </div>
                <small class="text-muted"> ₿ 500</small>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>


    

    

{% endblock body %}